<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Encabezados de la tabla -->
      <ion-col size="2"><strong>Numero de taller</strong></ion-col>
      <ion-col size="3"><strong>Calificacion</strong></ion-col>
      <ion-col size="2"><strong>Nombre de Estudiante</strong></ion-col>
      <ion-col size="2"><strong>Codigo de Estudiante</strong></ion-col>
      <ion-col size="3"><strong>Acciones</strong></ion-col>
    </ion-row>

    <!-- Filas de datos de los usuarios -->
    <ion-row *ngFor="let taller of taller" class="table-row">
      <ion-col size="2">{{ taller.numero_de_taller }}</ion-col>
      <ion-col size="3">{{ taller.calificacion }}</ion-col>
      <ion-col size="2">{{ taller.nombre_estudiante }}</ion-col>
      <ion-col size="2">{{ taller.codigo_estudiante }}</ion-col>
      <ion-col size="3">
        <ion-button color="warning" size="small" (click)="goToUpdatePage(taller.id)">Update</ion-button>
        <ion-button color="danger" size="small" (click)="deleteTaller(taller.id)">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>