<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="home" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Update User </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form *ngIf="user" [formGroup]="userForm" (ngSubmit)="saveUser()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input
              formControlName="cedula"
              label="cedula"
              placeholder="000-000-000"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input
              formControlName="email"
              label="email"
              placeholder="nose@sape.com"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input
              formControlName="nombre"
              label="nombre"
              placeholder="Scorpion"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input
              formControlName="password"
              label="password"
              placeholder="*****"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>

  <ion-button expand="full" (click)="saveUser()">Update User</ion-button>
</ion-content>