<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Encabezados de la tabla -->
      <ion-col size="2"><strong>Cédula</strong></ion-col>
      <ion-col size="3"><strong>Email</strong></ion-col>
      <ion-col size="2"><strong>Nombre</strong></ion-col>
      <ion-col size="2"><strong>Password</strong></ion-col>
      <ion-col size="3"><strong>Acciones</strong></ion-col>
    </ion-row>

    <!-- Filas de datos de los usuarios -->
    <ion-row *ngFor="let user of users" class="table-row">
      <ion-col size="2">{{ user.cedula }}</ion-col>
      <ion-col size="3">{{ user.email }}</ion-col>
      <ion-col size="2">{{ user.nombre }}</ion-col>
      <ion-col size="2">{{ user.password }}</ion-col>
      <ion-col size="3">
        <ion-button color="warning" size="small" (click)="goToUpdatePage(user.id)">Update</ion-button>
        <ion-button color="danger" size="small" (click)="deleteUser(user.id)">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>